<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	
	<title>Monte Carlo Method demonstration</title>
	
	<!-- Materialize CSS !-->
	<link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">
	
	<!-- Custom CSS !-->
	<link rel="stylesheet" href="./style.css">
	
	<!-- P5 js !-->
	<script type="text/javascript" src="../node_modules/p5/lib/p5.min.js"></script>
	
	<!-- VueJS !-->
	<script type="text/javascript" src="../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
	<header class="tab-group row center-align red">
		<div class="tab-item active col s6 blue-grey darken-4">
			<span class="tab-text center-align white-text">Canvas</span>
		</div>
		<div class="tab-item col s6 blue-grey darken-4">
			<span class="tab-text center-align white-text">Settings</span>
		</div>
	</header>

	<main>
		<!-- This section is visible by default !-->
		<div id="window-section-Canvas" class="main-section">
		
		</div>
		
		<!-- This section is hidden by default !-->
		<div id="window-section-Settings" class="main-section row hide">
			<div class="row">
				<div class="col s6 offset-s3">
					<h2 class="center-align">Classic Method</h2>
					<div class="btn btn-block" v-on:click="runClassic">Count pixels</div>
				</div>
				
				<div class="col s6 offset-s3">
					<h2 class="center-align">Monte Carlo Method</h2>
					<form>
						<input
							type="number"
							v-model="MonteCarloMethod.tries"
							title="Enter the number of attempts to perform"
							placeholder="Enter the number of attempts to perform"
						>
					</form>
					
					<div class="btn btn-block" v-on:click="runMonteCarlo">Count pixels</div>
				</div>
			</div>

			<div class="row">
				<div class="col s6 offset-s3 btn btn-block" v-on:click="runBoth">Execution & Comparison</div>
			</div>
			
			<!-- Results !-->
			<div class="row results card-panel hoverable">
				<h3 class="results center-align">Processing results</h3>
				
				<div class="row center-align">
					<label>Total number of pixels: </label><b>{{ totalPixels }}</b>
				</div>
				
				<div class="row">
					<div class="col s4 offset-s2 sub-results">
						<h5>Classic Method</h5>
						<label>Number of pixels counted: </label><b>{{ classicMethod.drawnPixels }} px</b><br />
						<br />
						<label>Execution time: </label><b>{{ classicMethod.executionTime }} ms</b>
					</div>
					
					<!-- Monte Carlo Results !-->
					<div class="col s6 sub-results">
						<h5>Monte Carlo Method</h5>
						<label>Number of random tries: </label><b>{{ MonteCarloMethod.tries }}</b><br />
						<label>Number of pixels counted: </label><b>{{ MonteCarloMethod.detectedPixels }} px</b><br />
						<br /><br />
						<label>Estimated area: </label><b>{{ MonteCarloMethod.calculatedArea }} px</b>
						<br /><br />
						<label>Execution time: </label><b>{{ MonteCarloMethod.executionTime }} ms</b>
					</div>
					
					<!-- Conclusion !-->
					<div class="row hide" id="conclusions">
						<div class="col s6 offset-s3 center-align conclusion">
							<h5>
								<b>
								
									{{ time_conclusion }}
									with a margin of error of {{ Math.abs(MonteCarloMethod.calculatedArea - classicMethod.drawnPixels) }} px
									({{ inaccuracy }} % inaccuracy)
								</b>
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<script type="text/javascript" src="home.js"></script>
</body>
</html>