<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>Monte Carlo Method demonstration</title>
	
	<!-- Materialize CSS !-->
	<link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">
	
	<!-- Custom CSS !-->
	<link rel="stylesheet" href="./style.css">
	
	<!-- P5 js !-->
	<script type="text/javascript" src="../node_modules/p5/lib/p5.min.js"></script>
</head>
<body>
	<header class="tab-group row center-align red">
		<div class="tab-item active col s6 blue-grey darken-4">
			<span class="tab-text center-align white-text">Canvas</span>
		</div>
		<div class="tab-item col s6 blue-grey darken-4">
			<span class="tab-text center-align white-text">Settings</span>
		</div>
	</header>

	<main class="blue">
		<!-- This section is visible by default !-->
		<div id="window-section-Canvas" class="main-section">
		
		</div>
		
		<!-- This section is hidden by default !-->
		<div id="window-section-Settings" class="main-section hide">
			<h1>Settings page</h1>
		</div>
	</main>
	
	<script type="text/javascript" src="home.js"></script>
</body>
</html>