<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	
	<title>Monte Carlo Method demonstration</title>
	
	<!-- Materialize CSS !-->
	<link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">
	
	<!-- Custom CSS !-->
	<link rel="stylesheet" href="./style.css">
	
	<!-- P5 js !-->
	<script type="text/javascript" src="../node_modules/p5/lib/p5.min.js"></script>
	
	<!-- VueJS !-->
	<script type="text/javascript" src="../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
	<header class="tab-group row center-align red">
		<div class="tab-item active col s6 blue-grey darken-4">
			<span class="tab-text center-align white-text">Canvas</span>
		</div>
		<div class="tab-item col s6 blue-grey darken-4">
			<span class="tab-text center-align white-text">Settings</span>
		</div>
	</header>

	<main>
		<!-- This section is visible by default !-->
		<div id="window-section-Canvas" class="main-section">
		
		</div>
		
		<!-- This section is hidden by default !-->
		<div id="window-section-Settings" class="main-section row hide">
			<div class="col s6">
				<h2 class="center-align">Classic Method</h2>
				<div class="btn btn-block" v-on:click="runClassic">Count pixels</div>
				
				<!-- Results !-->
				<div class="card-panel hoverable results">
					<h3 class="center-align">Results</h3>
					
					<label>Total number of pixels: </label><b>{{ totalPixels }} px</b><br />
					<label>Number of pixels counted: </label><b>{{ classicMethod.drawnPixels }} px</b><br />
					<br />
					<label>Execution time: </label><b>{{ classicMethod.executionTime }} ms</b>
				</div>
			</div>
			
			
			<div class="col s6">
				<h2 class="center-align">Monte Carlo Method</h2>
				<form>
					<input type="number" v-model="MonteCarloMethod.tries">
				</form>
				
				<div class="btn btn-block" v-on:click="runMonteCarlo">Count pixels</div>
				
				<div class="card-panel hoverable results">
					<h3 class="center-align">Results</h3>
					
					<label>Total number of pixels: </label><b>{{ totalPixels }} px</b><br />
					<label>Number of random tries: </label><b>{{ MonteCarloMethod.tries }}</b><br />
					<label>Number of pixels counted: </label><b>{{ MonteCarloMethod.detectedPixels }} px</b><br />
					<br /><br />
					<label>Estimated area: </label><b>{{ MonteCarloMethod.calculatedArea }} px</b>
					<br /><br />
					<label>Execution time: </label><b>{{ MonteCarloMethod.executionTime }} ms</b>
				</div>
			</div>
		</div>
	</main>
	
	<script type="text/javascript" src="home.js"></script>
</body>
</html>